body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-transform: capitalize;
}

a {
    color: black !important;
}

#pokedexDialog {
    min-height: 30vh;
    color: white;
    display: flex;
    padding: 24px;
    flex-direction: column;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.info-containerDialog {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 64px;
    margin-top: -40px;
    min-height: 64px;
}

.info-containerDialog img {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 45%;

}

.typeContainer {
    display: flex;
    gap: 30px;
}

.pokemonType h5 {
    background-color: rgba(250 250, 250, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    min-width: calc(100% + 15px);
    border-radius: 20px;
}

.pokemonInfo {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.navigation {
    width: 100%;
    text-align: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px !important;
}

table {
    margin: auto;
    display: flex;
    align-items: stretch;
    width: 75%;
}

tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
}

tr {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.progress {
    width: 70%;
}

.evolutionContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baseStatsContent {
    display: none;
    height: 27vh;
}

.aboutcontainer {
    height: 37vh;
}

.evolution {
    display: flex;
    width: 90%;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.evolution img {
    width: 90%;
}

.next {
    position: absolute;
    width: 42px;
    height: 42px;
    right: 10px;
    top: 50%;
    cursor: pointer;
}

.prev {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 10px;
    top: 50%;
    cursor: pointer;
}

.next img {
    position: fixed;
    right: 20px;
    cursor: pointer;
    filter: invert(1);
    border: 0px;
    width: 30px;

}

svg .next img:hover {
    opacity: 80%;
}

.prev img {
    position: fixed;
    left: 20px;
    cursor: pointer;
    filter: invert(1);
    border: 0px;
    width: 30px;
}

.prev img:hover {
    opacity: 80%;
}

@media (max-width:550px) {
    .evolution h4 {
        font-size: 16px;
    }

    .evolution h5 {
        font-size: 14px;
    }
}